<%inherit file="/base/waterfall.html"/>

<%block name="title">
    <title>今日图片-美女图,帅哥图,宠物图,搞笑图,动态图gif</title>
</%block>

<%block name="waterfall">
    <div id="container"></div>
    <script type="text/x-handlebars-template" id="waterfall-tpl">
    <%text>
    {{#result}}
        <div class="item">
        <a href="/show/{{href}}" target="_blank">
            <img id="{{id}}" src="{{image}}" width="{{width}}" height="{{height}}" />
        </a>
        </div>
    {{/result}}
    </%text>
    </script>

    <script src="${static_url("js/libs/jquery/jquery.js")}"></script>
    <script src="${static_url("js/libs/handlebars/handlebars.js")}"></script>
    <script src="${static_url("js/libs/jquery.easing.js")}"></script>
    <script src="${static_url("js/waterfall.js")}"></script>

    <script>
    $('#container').waterfall({
        itemCls: 'item',
        colWidth: 400,
        maxCol: 4,
        gutterWidth: 15,
        gutterHeight: 15,
        checkImagesLoaded: false,
        isAnimated: true,
        isFadeIn: true,
        dataType: 'text',
        animationOptions: {
        },
        path: function(page) {
            return '/api/data.json?page=' + page;
        },
        params: {class_name: "${class_name}"}
    });
    </script>
</%block>
