<%inherit file="/base/waterfall.html"/>

<%block name="title">
    <title>图片墙</title>
</%block>

<%block name="waterfall">
    <div id="container"></div>
    <script type="text/x-handlebars-template" id="waterfall-tpl">
    <%text>
    {{#result}}
        <div class="item">
            <img src="{{image}}" width="{{width}}" height="{{height}}" />
        </div>
    {{/result}}
    </%text>
    </script>

    <script>
    $('#container').waterfall({
        itemCls: 'item',
        colWidth: 360,
        maxCol: 4,
        gutterWidth: 15,
        gutterHeight: 15,
        checkImagesLoaded: false,
        isAnimated: true,
        isFadeIn: true,
        dataType: 'text',
        animationOptions: {
        },
        path: function(page) {
        return '${class_name}/data.json?page=' + page;
        }
    });
    </script>
</%block>
