<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <%block name="title"/>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="${static_url("css/reset.css")}">
    <link rel="stylesheet" href="${static_url("css/waterfall.css")}">
    <link href="${static_url("css/style.css")}" media="screen" rel="stylesheet" type="text/css" />
    <script src="${static_url("js/prefix-free.js")}"></script>

</head>

<body>
<div id="header">
    <nav>
        <ul class="menu">
            <li><a href="/admin"><span class="iconic home"></span> 后台管理界面</a></li>
            <li><a href="/admin/girls/"><span class="iconic plus-alt"></span> 妹子</a>
            <ul>
                <li><a href="/admin/girls/girls-sexy/">性感</a></li>
                <li><a href="/admin/girls/girls-cute/">可爱</a></li>
                <li><a href="/admin/girls/girls-beauty/">清纯</a></li>
                <li><a href="/admin/girls/girls-japan/">日本</a></li>
                <li><a href="/admin/girls/girls-korean/">韩国</a></li>
                <li><a href="/admin/girls/girls-china/">中国</a></li>
                <li><a href="/admin/girls/girls-western/">西方</a></li>
                <li><a href="/admin/girls/girls-asia/">亚洲</a></li>
                <li><a href="/admin/girls/girls-leg/">美腿</a></li>
                <li><a href="/admin/girls/girls-cos/">Cos</a></li>
                <li><a href="/admin/girls/girls-gif/">Gif</a></li>
            </ul>
            </li>
            <li><a href="/admin/boys/"><span class="iconic magnifying-glass"></span> 鲜肉</a>
            <ul>
                    <li><a href="/boys/boys-gif/">GIF</a></li>
                    <li><a href="/boys/boys-asia/">亚洲</a></li>
            </ul>
            </li>
            <li><a href="/admin/gifs/"><span class="iconic map-pin"></span> GIF</a>
            <ul>
                    <li><a href="/admin/gifs/gifs-funny/">搞笑</a></li>
                    <li><a href="/admin/gifs/gifs-kuso/">恶搞</a></li>
                    <li><a href="/admin/gifs/gifs-other/">Other</a></li>
                    <li><a href="/admin/gifs/gifs-lol/">LOL</a></li>
            </ul>
            </li>
            <li><a href="/admin/animals/"><span class="iconic mail"></span> 萌宠</a>
            <ul>
                    <li><a href="/admin/animals/animals-catdog/">猫狗</a></li>
                    <li><a href="/admin/animals/animals-gif/">GIF</a></li>
                    <li><a href="/admin/animals/animals-dog/">汪星人</a></li>
                    <li><a href="/admin/animals/animals-cat/">喵星人</a></li>
            </ul>
            </li>
            <li><a href="/admin/nature/"><span class="iconic map-pin"></span> 景观</a>
        </ul>
        <div class="clearfix"></div>
    </nav>
</div>

<%block name="waterfall"/>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1245097-16']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
