<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <%block name="title"/>

    <meta name="sogou_site_verification" content="5LigeZzYLw"/>
    <meta name="baidu-site-verification" content="h3tVoR1ypJ" />
    
    <link type="image/x-icon" href="${static_url("favicon.ico")}" rel="icon">
    <link href="http://jinritu.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="${static_url("css/reset.css")}">
    <link rel="stylesheet" href="${static_url("css/waterfall.css")}">
    <link href="${static_url("css/style.css")}" media="screen" rel="stylesheet" type="text/css">
    <script src="${static_url("js/prefix-free.js")}"></script>

</head>

<body>
<div id="header">
    <nav>
        <ul class="menu">
            <li><a href="/"><span class="iconic home"></span> 今日图片</a></li>

            <li><a href="/girls/"><span class="iconic plus-alt"></span> 妹子</a>
                <ul>
                    <li><a href="/girls/girls-sexy/">性感</a></li>
                    <li><a href="/girls/girls-cute/">可爱</a></li>
                    <li><a href="/girls/girls-beauty/">唯美</a></li>
                    <li><a href="/girls/girls-japan/">日本</a></li>
                    <li><a href="/girls/girls-korean/">韩国</a></li>
                    <li><a href="/girls/girls-china/">中国</a></li>
                    <li><a href="/girls/girls-western/">西方</a></li>
                    <li><a href="/girls/girls-asia/">亚洲</a></li>
                    <li><a href="/girls/girls-leg/">美腿</a></li>
                    <li><a href="/girls/girls-cos/">COS</a></li>
                    <li><a href="/girls/girls-gif/">GIF</a></li>
                </ul>
            </li>

            <li><a href="/boys/"><span class="iconic magnifying-glass"></span> 鲜肉</a>
                <ul>
                    <li><a href="/boys/boys-gif/">GIF</a></li>
                    <li><a href="/boys/boys-asia/">亚洲</a></li>
                </ul>
            </li>

            <li><a href="/gifs/"><span class="iconic map-pin"></span> GIF</a>
                <ul>
                    <li><a href="/gifs/gifs-funny/">搞笑</a></li>
                    <li><a href="/gifs/gifs-kuso/">恶搞</a></li>
                    <li><a href="/gifs/gifs-other/">Other</a></li>
                    <li><a href="/gifs/gifs-lol/">LOL</a></li>
                </ul>
            </li>

            <li><a href="/animals/"><span class="iconic map-pin"></span> 萌物</a>
                <ul>
                    <li><a href="/animals/animals-catdog/">猫狗</a></li>
                    <li><a href="/animals/animals-gif/">GIF</a></li>
                    <li><a href="/animals/animals-dog/">汪星人</a></li>
                    <li><a href="/animals/animals-cat/">喵星人</a></li>
                </ul>
            </li>

            <li><a href="/nature/"><span class="iconic map-pin"></span> 景观</a>
            </li>

            <li><a href="/static/about.html"> 关注</a></li>
        </ul>
        <div class="clearfix"></div>
    </nav>
</div>

<%block name="waterfall"/>

<footer id="footer" class="inner"><div>
    &copy; 今日图片(jinritu.com)
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256502181'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256502181%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</footer>



<a href="#0" class="cd-top">Top</a>
<script src="${static_url("js/to-top.js")}"></script>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1245097-16']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>

</html>
