<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <title>今日图片</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="${static_url("mobile/css/m_arc.css")}"/> 
    <script type="text/javascript" src="${static_url("mobile/js/mobile.js")}"></script> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- 请置于所有广告位代码之前 -->
    <style>
    .morebtn{ display:block;/* width:298px;*/border-radius: 5px;box-shadow: 0px 1px 3px rgba(0, 0, 0, .25); height:34px; line-height:34px; background-color:#fff; border:1px solid #ccc; text-align:center; margin:0px 5px; font-size:14px; color:#666666; margin-bottom:10px;}
    #count{display:none;}
    </style>
</head>
<body>
<img src="" width="0" height="0" style="display:none;"/><div id="wap">
<!----------------headerbar--------------------->
    <div class="headerbar">
        <div class="header">
        <div class="logo"><a href="/"><img src="${static_url("mobile/images/jinritu.png")}" alt="今日图片"></a></div>
        <div class="btn_bar" id="btn_list"><a href="javascript:;">性感美女</a></div>
        </div>
    </div>
<!----------------headerbar/--------------------->

<!----------------allgirl--------------------->
<div style="position:relative;width:100%; margin:0 auto; ">
    <div id="allgirl">
    <div class="contentbox">
        <ul>
            <li id="nav1"><span>http://jinritu.com/mobile/girls/girls-sexy</span>妹子-性感</li> 
            <li id="nav2"><span>http://jinritu.com/mobile/girls/girls-cute/</span>妹子-可爱</li> 
            <li id="nav3"><span>http://jinritu.com/mobile/girls/girls-beauty</span>妹子-唯美</li> 
            <li id="nav4"><span>http://jinritu.com/mobile/girls/girls-japan</span>妹子-日本</li> 
            <li id="nav5"><span>http://jinritu.com/mobile/girls/girls-korean</span>妹子-韩国</li> 
            <li id="nav6"><span>http://jinritu.com/mobile/girls/girls-china</span>妹子-中国</li> 
            <li id="nav7"><span>http://jinritu.com/mobile/girls/girls-western</span>妹子-西方</li> 
            <li id="nav8"><span>http://jinritu.com/mobile/girls/girls-asia</span>妹子-亚洲</li> 
            <li id="nav9"><span>http://jinritu.com/mobile/girls/girls-leg</span>妹子-美腿</li> 
            <li id="nav10"><span>http://jinritu.com/mobile/girls/girls-cos</span>妹子-COSPLAY</li> 
            <li id="nav11"><span>http://jinritu.com/mobile/girls/girls-gif</span>妹子-GIF</li> 

            <li id="nav12"><span>http://jinritu.com/mobile/boys/</span>鲜肉</li> 
            <li id="nav13"><span>http://jinritu.com/mobile/boys/boys-gif</span>鲜肉-GIF</li> 
            <li id="nav14"><span>http://jinritu.com/mobile/boys/boys-asia</span>鲜肉-亚洲</li> 

            <li id="nav15"><span>http://jinritu.com/mobile/gifs/</span>GIF</li> 
            <li id="nav16"><span>http://jinritu.com/mobile/gifs/gifs-funny</span>GIF-搞笑</li> 
            <li id="nav17"><span>http://jinritu.com/mobile/gifs/gifs-kuso</span>GIF-恶搞</li> 
            <li id="nav18"><span>http://jinritu.com/mobile/gifs/gifs-other</span>GIF-OTHER</li> 
            <li id="nav19"><span>http://jinritu.com/mobile/gifs/gifs-lol</span>GIF-LOL</li> 

            <li id="nav20"><span>http://jinritu.com/mobile/animals/</span>萌物</li> 
            <li id="nav21"><span>http://jinritu.com/mobile/animals/animals-catdog</span>萌物-猫狗</li> 
            <li id="nav22"><span>http://jinritu.com/mobile/animals/animals-gif</span>萌物-GIF</li> 
            <li id="nav23"><span>http://jinritu.com/mobile/animals/animals-dog</span>萌物-汪星人</li> 
            <li id="nav24"><span>http://jinritu.com/mobile/animals/animals-cat</span>萌物-喵星人</li> 

            <li id="nav25"><span>http://jinritu.com/mobile/nature/</span>景观</li> 
        </ul>
        <script type="text/javascript">
        document.getElementById('nav1').className = 'on';
        </script>
        <div class="allbtn">
        <a href="javascript:;" id="btn_no">取消</a>
        <a href="http://jinritu.com/mobile/" id="btn_yes">确定</a>
        </div>
    </div>
    </div>
</div>
<!----------------allgirl/--------------------->
<!----------------listmain--------------------->
    <div class="arcmain">
        <!--<h1><span><b></b>0</span>在天台享受夏日气息的清纯女子<font color="#666">（9P）</font></h1>-->
        <ul>
            <li><img src="${src}">
        </ul>
    </div>
<!----------------listmain/--------------------->
    <div class="footer">
        <p>
            <a href="/mobile/">首页</a><em>|</em>
            <a href="/mobile/girls/">妹子图</a><em>|</em>
            <a href="/mobile/boys/">鲜肉图</a><em>|</em>
            <a href="/mobile/gifs/">动态图</a><em>|</em>
            <a href="/mobile/animals/">萌物</a>
        </p> 
        <p>
            <a href="/mobile/girls/">今日精选</a><em>|</em>
            <a href="/mobile/girls/girls-korean">韩国美女</a><em>|</em>
            <a href="/mobile/girls/girls-japan">日本美女</a><em>|</em>
            <a href="/mobile/girls/girls-china">中国美女</a><em>|</em>
            <a href="/mobile/girls/girls-western">西方美女</a>
        </p> 
    </div>
    <div id="count">
    <script src="http://s95.cnzz.com/z_stat.php?id=1256502181&web_id=1256502181" language="JavaScript"></script>
    </div>
    <div class="footbar"></div>

</body>
</html>
